# Python
__pycache__/
*.pyc
venv/

# Generated output
output/

# VS Code settings
.vscode/

# OS temp files
.DS_Store
Thumbs.db

# Environment secrets
.env

# Minikube binary
minikube-linux-amd64

# Terraform
terraform/.terraform/
terraform/terraform.tfvars
*.tfstate
*.tfstate.backup