# Python cache
__pycache__/
*.pyc
# Generated logs and reports
health_check.log
summary_report.txt
summary_report.html
plots/

# VS Code settings
.vscode/

# OS temp files
.DS_Store
Thumbs.db

#environment
.env

#minikube
minikube-linux-amd64

#ai training agent
*.md
.github/agents/devops-mentor.agent.md

#terraform
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.39.0/linux_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.39.0/linux_amd64/terraform-provider-aws_v6.39.0_x5
terraform/terraform.tfvars
*.tfstate
*.tfstate.backup
.